* {
  box-sizing: border-box;
}

header {
  text-align: center;
  filter: saturate(130%) contrast(115%) drop-shadow(0px 5px 5px);
}

li {
  list-style: none;
}


.gameBlock {
  display: block;
  justify-content: center;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
  margin: 0 auto;
}

.gameBlock .image {
  padding: 2.15rem 1.5rem .25rem;
  filter: saturate(130%) contrast(115%) drop-shadow(0px 5px 5px);
}

ul {
  display: flex;
  flex-wrap: wrap;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
